@import '../../Common/Styles/Mixin.scss';
@import '../../Common/Styles/_var.scss';

.cart-main{
    position: relative;
    display: flex;
    flex-direction: column;
   align-items: center;
   width: 100%;
    h2{
        text-align: center;
       margin: 1rem 0;
       
    }
    .x-btn{
        left: 0;
        position:absolute;
        background-color: $catbgclr;
        border-radius: 50%;
        padding: 7px 10px;
        cursor: pointer;
        margin: 1rem;
        border: none;
        display: inline;
        @include hover;
    }

   
    
    
  
}



.next{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    @include clrbtn;
    border-radius: 0%;
    
}

.item{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  
  
    .img-part{
        margin-bottom: .8rem;
        img{
            height: 150px;
        }

    }

    .info-part{
        width: 60%;
        margin-bottom: .8rem;
        h5{
            font-size: medium;
        }
        p{
          width:  90%;
          font-size: 14px;
            margin: .6rem 0;
            color: $textclr;
        }
        h4{
            margin: .6rem 0;
            color: $btnclr;
        }

        .cols {
            display: flex;
            width: 70%;
            align-items: center;
            justify-content: space-between;
            .clrs {
                display: flex;

                .clr {

                    margin: 0 .7rem;
                    margin-left: 0;
                    height: 15px;
                    width: 15px;
                    background-color: rgb(99, 69, 69);
                    border-radius: 7px;
                }
                .clr2{
                    background-color: rgb(109, 109, 133);
                }
            }
            
            .quantity{
              
                background-color: $catbgclr;
                border-radius: 13px;
               
               padding: 4px 12px;

                text-align: center;
            }


        }
    }

}