@import '../../Common/Styles/Mixin.scss';
@import '../../Common/Styles/_var.scss';

.cart-main{
    position: relative;
    display: flex;
    flex-direction: column;
   align-items: center;
    h2{
        text-align: center;
       margin: 1rem 0;
       
    }
    .x-btn{
        left: 0;
        position:absolute;
        background-color: $catbgclr;
        border-radius: 50%;
        padding: 7px 10px;
        cursor: pointer;
        margin: 1rem;
        border: none;
        display: inline;
        @include hover;
    }

    p{
        text-align: center;
        font-weight: 500;
        margin: 3rem 0;
    }
    img{
        height: 250px;
        width: 250px;
    }
    
  
}
.shop{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    @include clrbtn;
    border-radius: 0%;
    
}