@import '../../Common/Styles/Mixin.scss';
@import '../../Common/Styles/_var.scss';


.loadermain{
    @include loder;
}

.ovr-main {
    width: 80%;
    margin: 1rem auto;
    display: flex;
   gap: 30px;
   
    
    
    @include max700{
        flex-direction: column;
        align-items: center;
        
    }
    .images {
        max-width: 320px;
        img {
            width: 300px;
            height: 300px;
            border-radius: 5px;
            margin: 5px;
        }

        @include max700{
          img:not(.one){
            display: none;
          }
        }
    }

    .info {

        h2 {
            margin: 1rem 0;
        }

        .rating {
            padding: .5rem 0;
        }

        .prize {
            width: 50%;
            display: flex;
            justify-content: flex-start;
            gap: 1.5rem;

            p:first-child {
                margin: .5rem 0;
                color: $btnclr;
                font-weight: 500;
            }

            p:last-child {
                margin: .5rem 0;
                background-color: #f6506124;
                color: red;
                padding: 0 .5rem;
                border-radius: 20px;
            }
        }

        .care {
            margin: .5rem 0;
            color: $textclr;
            width: 80%;
            @include max700{
                width: 100%;
            }
        }

        .cols {
            display: flex;
            width: 70%;
            justify-content: space-between;
            #wrn{
                margin-top:1rem ;
                color: red;
                font-size: 16px;
            }
            .clrs {
                display: flex;

                .clr {
                    cursor: pointer;
                    margin: 1rem;
                    margin-left: 0;
                    height: 25px;
                    width: 25px;
                    border-radius: 7px;
                }
            }
            
            .quantity{
                margin: 1rem 0;
                background-color: $catbgclr;
                height: 35px;
                width: 35px;
                border-radius: 7px;
                margin: 1rem 0;
               padding-top: 5px;
                text-align: center;
            }


        }

        button{
            width: 70%;
            margin: 1rem 0;
            @include clrbtn;
        }

        ul{
           
            li{
                display: flex;
                align-items: center;
                gap: 4px;
                list-style: none;
                margin: .5rem 0;
                font-size: 13px;
            }

        }
    }


}

.pd-slider{
    width: 80%;
    margin: 1rem auto;
}