@import '../../Common/Styles/Mixin.scss';
@import '../../Common/Styles/_var.scss';



.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;


    .img-box {
        height: 40%;

        h2 {
            margin: .5rem 0;
            text-align: center;
        }

        .x-btn {
            left: 0;
            position: absolute;
            background-color: $catbgclr;
            border-radius: 50%;
            padding: 7px 10px;
            cursor: pointer;
            margin: .5rem;
            border: none;
            display: inline;
            @include hover;
        }

        img {
            height: 130px;
            width: 160px;
        }
    }

    .login-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;



        .lgfrm {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 40%;

        h5{
            margin: .3rem 0;
            font-size: medium;
        }

            .fields {
                width: 100%;
                border-radius: 15px;
                padding: 8px;
                outline-color: $btnclr;
                border: 1px solid gray;
            }

            .err {
               margin: -8px 0;
                color: red;
                font-size: 12px
            }


            p{
                align-self: flex-end;
                font-size: small;
                color: $btnclr;
                cursor: pointer;
                margin-bottom: 3px;
                &:hover{
                    text-decoration: underline;
                }
            }
            .btnqwe {

                @include clrbtn;
                padding: 8px;
            }

        }

        .or{
            font-size: 14px;
           color: $textclr;
           margin: 5px 0;
        }

        .con-with{
            display: flex;
            justify-content: center;
            gap: 3px;
            width: 40%;
            margin: 5px;
            @include transbtn;
            padding: 8px;
          
        }

        .create{
            span{
                &:last-child{
                    color: $btnclr;
                    cursor: pointer;
                    
                    &:hover{
                        text-decoration: underline;
                    }
                }

            }
        }
    }
}